@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
    /* Box-sizing: border-box;
    Outline: 1px dotted red; */
    }

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1pt  rgb(110, 110, 110);
    padding: 10px;
    background-color: white;
    color: white;
    font-size: 10pt;
}

.logo{
    padding: 5px;
    background-color: rgb(237, 32, 32);
    border-radius: 3%;
}

.navbutton{
    text-decoration: none;
    font-size: 11pt;
    color: black;
    padding-right: 20px;
    padding-left: 10px;
}

.navbutton2{
    text-decoration: none;
    font-size: 12pt;
    color: white;
    background-color:  rgb(237, 32, 32);
    padding: 7px;
    border-radius: 10%;
}

.navbutton1{
    text-decoration: none;
    font-size: 11pt;
    color: black;
    padding-left: 15px;
}

.special{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 24, 24);
    padding: 50px;
    gap: 10px;
    border-bottom: solid 2pt  rgb(110, 110, 110);
}

.boat{
    border-radius: 5%;
}

.sright{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 60px;
    color: white;
}

h2{
    color:rgb(237, 32, 32);
    font-size: 30pt;
}

h3{
    color:white;
    font-size: 30pt;
    text-align: center;
    padding: 50px;
}

.padding{
    padding: 28px;
}

.paddingbot{
    padding-bottom: 28px
}

.theway{
    background-image:url("../image/wood.png");
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    border-bottom: solid 2pt  rgb(110, 110, 110);
}

h4{
    font-size: 16pt;
    color:rgb(237, 32, 32);
}
.column{
    display:flex;
    justify-content: center;
}

.twright{
    border-left: 1pt solid white;
    padding-left: 80px
}

.twleft{
    padding-right: 80px
}

.green{
    color:rgb(237, 32, 32);
}

.borderflower{
    background-image:url("../image/flower.png");
    height: 8px;
    border-bottom: solid 1pt  rgb(110, 110, 110);
}

.botnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-bottom: solid 1pt  rgb(110, 110, 110);
    background-color: white;
    color: black;
    font-size: 20pt;
}

.resize{
    height: 40px;
    width: 40px;
    padding-bottom: 10px;
}

h5{
    padding: 5px;
}

.copyr{
    background-color: black;
    color:white;
    text-align: center;
    padding: 10px;
}
.textsize{
    font-size: 10pt;
}

.white{
    color:white;
    text-align: center;
    padding-bottom: 30px;
}

.white1{
    color:white;
    padding: 3px;
}

.bold{
    font-weight: bold;
}

.location{
    background-color: rgb(24, 24, 24);
    padding: 30px;
    gap: 10px;
    border-bottom: solid 2pt  rgb(110, 110, 110);
    text-align: center;
}

.map{
    padding-top: 10px;
    height: 500px;
    width: 800px;
    padding-bottom: 20px;
}

.scheduleT{
    margin-left: auto;
    margin-right: auto;
}

th,td{
    color: white;
}

.bhour{
    color: white;
    font-size: 20pt;
}

.row{
    display: flex;
    justify-content: center;
    gap:120px;
    padding-top: 20px;
}

.red1{
    color:white;
    background-color: rgb(237, 32, 32);;
    padding: 3px;
    border-bottom: 3pt solid rgb(24, 24, 24);;
}

.red2{
    color:white;
    padding: 3px;
    background-color: rgb(237, 32, 32);;
}

.menu{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 10px;
}

.borderflower1{
    background-image:url("../image/flower.png");
    height: 8px;
    width: 1300px;
    border-bottom: solid 1pt  rgb(110, 110, 110);
}

.menuhead{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mtitle{
    padding: 20px;
    font-size: 30pt;
    color: black;
    font-weight: normal;
}

.ftitle{
    text-indent: 20%;
    font-weight: normal;
    font-size: 20pt;
    text-decoration-line: underline;
}

.mpic{
    width: 200px;
    height: 100px;
}

.nigri{
    display: flex;
    justify-content: center;
    padding: 35px;
    gap: 5px;
}

.sec1{
    text-align: center;
}

.spacer{
display: flex;
justify-content: center;
padding: 35px;
}

.spacer1{
    border-bottom: solid 2pt  rgb(233, 167, 116);
    width: 1300px;
}

.bpic{
    width: 270px;
    height: 160px;
}

.bowl{
    display: flex;
    justify-content: center;
    padding: 35px;
    gap: 160px;
}

.friedrice{
    display: flex;
    justify-content: center;
    padding: 35px;
    gap: 50px;
}

.noodle{
    display: flex;
    justify-content: center;
    padding: 35px;
    gap: 50px; 
}

.poke{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.pmenu{
    text-align: center;
    padding: 20px;
}

.mlink{
    padding: 10px;
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 5%;
}